.app {
  display: grid;
  place-items: center;
  background-color: #ffffffe0;
  height: 100vh;
}

.app__body {
  display: flex;
  background-color: rgb(220, 220, 255);
  margin-top: 30px;
  margin-left: 40px;
  height: 90vh;
  width: 98vw;
  box-shadow: -1px 4px 20px -6px  rgba(0,0,0,0.75);
}